<div class="container-fluid">
    <div class="formm  mt-2 p-3 md-5">
        
        <form [formGroup]="userForm" (ngSubmit)="OnSubmit()">
            <div class="form-row">
                 
                <div class="form-group">
                    <div class="form-row">
                        <label><b>Student Name</b></label>
                    </div>
                    <div class="form-row">
                        <input type="text" formControlName="name" size="150" class="form-group">
                    </div>

                    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                        <div *ngIf="f.name.errors?.required">Name is required.</div>
                    </div>
                </div>

                <br>
        
                <div class="form-group">
                    <div class="form-row">
                        <label><b>Email</b></label>
                    </div>
                    <div class="form-row">
                        <input type="text" formControlName="email" size="150" class="form-group">
                    </div>

                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                        <div *ngIf="f.email.errors?.required">Email ID is required.</div>
                    </div>
                </div>
        
                <br>

                <div class="form-group">
                    <div class="form-row">
                        <label><b>Phone Number</b></label>
                    </div>
                    <div class="form-row">
                        <input type="text" formControlName="number" maxlength="10" size="150" class="form-group">
                    </div>

                    <div *ngIf="f.number.touched && f.number.invalid" class="alert alert-danger">
                        <div *ngIf="f.number.errors?.required">Mobile Number is required.</div>
                    </div>
                </div>

                <br>

                <div class="form-group">
                    <div class="form-row">
                        <label><b>Age</b></label>
                    </div>
                    <div class="form-row">
                        <input type="text" formControlName="age" size="150" class="form-group">
                    </div>

                    <div *ngIf="f.age.touched && f.age.invalid" class="alert alert-danger">
                        <div *ngIf="f.age.errors?.required">Age is required.</div>
                    </div>
                </div>

                <br>
        
                <div class="form-group">
                    <div class="form-row">
                        <label><b>Joined Date</b></label>
                    </div>
                    <div class="form-row">
                        <input type="text" size="150" formControlName="date" class="form-group">
                    </div>

                    <div *ngIf="f.date.touched && f.date.invalid" class="alert alert-danger">
                        <div *ngIf="f.date.errors?.required">Date is required.</div>
                    </div>
                </div>

                <br>
        
                <div class="form-group">
                    <div class="form-row">
                        <label><b>Gender</b></label>
                    </div>
                
                    <div class="form-row">
                        <span>
                            <input type="radio" formControlName="gender" value="male" class="form-group">Male
                        </span>

                         <br>

                        <span>
                             <input type="radio" formControlName="gender" value="female" class="form-group">Female
                        </span>
                    </div>

                    <br>
                    <br>
                   
                    <div class="center col-6">
                        <button type="submit" class="btn btn-primary" (click)="addItem()">Add Student</button>
                    </div>
                        
                </div>
            </div>
        </form>
<br>
<br>
    </div>
</div>

<br>


<div class="tablee  mt-2 p-3">
<h1>Student List</h1>
<br>
<button type="button" class="btn btn-primary" (click)="addItem()">Add Student</button>
<br>
<br>
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Student Info</th>
        <th>Phone Number</th>
        <th>Joined Date</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of listData">
        <td>{{item.name}}</td>
        <td>{{item.number}}</td>
        <td>{{item.date}}</td>
      </tr>
    </tbody>
</table>
</div>
